<!DOCTYPE html>
<% page = 'illustration'; %>
<html lang="ja">
<head>
  <%- include( '../_components/_head' ); %>
  <title>Hiromi's Portfolio｜イラスト制作について</title>
  <meta name="description" content="Hiromi's Portfolio｜イラスト制作、コーディングのポートフォリオサイト｜イラスト制作について">
  <meta property="og:title" content="Hiromi's Portfolio｜イラスト制作について" />
  <meta property="og:description" content=" Hiromi's Portfolio｜イラスト制作、コーディングのポートフォリオサイト｜イラスト制作について" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://hiromia-portfolio.com/illustration/" />
  <link rel="canonical" href="https://hiromia-portfolio.com/illustration/">
</head>
<body class="illustration">
  <div class="wrap">
    <div class="container">
      <%- include( '../_components/_header' ); %>
      <!-- section ▼-->
      <section class="contents">
        <div class="level1_heading">
          <h1 class="level1_heading__inner">
            illustration
            <span class="level1_heading__sub">イラスト制作について</span>
          </h1>
        </div>
      </section>
      <!-- section End ▲-->
      <main class="container__main">
        <article>

          <!-- section ▼-->
          <section class="contents illustration_sec-menu contents--first">
            <div class="contents__inner">
              <ul class="menu-down-arrow">
                <li class="menu-down-arrow__item">
                  <a href="#illustration-gallery" class="js-anchor">ギャラリー</a>
                </li>
                <li class="menu-down-arrow__item ">
                  <a href="#illustration-purpose" class="js-anchor">ご用途について</a>
                </li>
                <li class="menu-down-arrow__item">
                  <a href="#illustration-skills" class="js-anchor">タッチと使用ツール</a>
                </li>
                <li class="menu-down-arrow__item">
                  <a href="#illust-career" class="js-anchor">略歴</a>
                </li>
              </ul>
            </div>
          </section>
          <!-- section End ▲-->

          <!-- section ▼-->
          <section class="contents illustration_sec04 contents--first" id="illustration-gallery">
            <div class="contents__inner">
              <h2 class="level2_heading level2_heading--home">
                gallery
                <span class="level2_heading__sub">ギャラリー</span>
              </h2>
            </div>

            <ul class="slider">
              <li>
                <a href="/img/gallery/gallery-img005.jpg" class="gallery" data-group="gallery01">
                  <img src="/img/gallery/gallery-img005_tmb.jpg" alt="夜間飛行" loading="lazy">
                </a>
              </li>
              <li>
                <a href="/img/gallery/gallery-img004.jpg" class="gallery" data-group="gallery01">
                  <img src="/img/gallery/gallery-img004_tmb.jpg" alt="雪の旭川駅" loading="lazy">
                </a>
              </li>
              <li>
                <a href="/img/gallery/gallery-img006.jpg" class="gallery" data-group="gallery01">
                  <img src="/img/gallery/gallery-img006_tmb.jpg" alt="ホイアンのランタン" loading="lazy">
                </a>
              </li>
              <li>
                <a href="/img/gallery/gallery-img002.jpg" class="gallery" data-group="gallery01">
                  <img src="/img/gallery/gallery-img002_tmb.jpg" alt="宗谷岬" loading="lazy">
                </a>
              </li>
              <li>
                <a href="/img/gallery/gallery-img007.jpg" class="gallery" data-group="gallery01">
                  <img src="/img/gallery/gallery-img007_tmb.jpg" alt="線香花火" loading="lazy">
                </a>
              </li>
              <li>
                <a href="/img/gallery/gallery-img001.jpg" class="gallery" data-group="gallery01">
                  <img src="/img/gallery/gallery-img001_tmb.jpg" alt="夕暮れの小岩" loading="lazy">
                </a>
              </li>
              <li>
                <a href="/img/gallery/gallery-img008.jpg" class="gallery" data-group="gallery01">
                  <img src="/img/gallery/gallery-img008_tmb.jpg" alt="廃墟" loading="lazy">
                </a>
              </li>
              <li>
                <a href="/img/gallery/gallery-img003.jpg" class="gallery" data-group="gallery01">
                  <img src="/img/gallery/gallery-img003_tmb.jpg" alt="ガリレオ望遠鏡" loading="lazy">
                </a>
              </li>
              <li>
                <a href="/img/gallery/gallery-img009.jpg" class="gallery" data-group="gallery01">
                  <img src="/img/gallery/gallery-img009_tmb.jpg" alt="ロシア語登場人物" loading="lazy">
                </a>
              </li>
              <li>
                <a href="/img/gallery/gallery-img010.jpg" class="gallery" data-group="gallery01">
                  <img src="/img/gallery/gallery-img010_tmb.jpg" alt="ロシア語カット" loading="lazy">
                </a>
              </li>
              <li>
                <a href="/img/gallery/gallery-img011.jpg" class="gallery" data-group="gallery01">
                  <img src="/img/gallery/gallery-img011_tmb.jpg" alt="アサガオ" loading="lazy">
                </a>
              </li>
              <li>
                <a href="/img/gallery/gallery-img012.jpg" class="gallery" data-group="gallery01">
                  <img src="/img/gallery/gallery-img012_tmb.jpg" alt="赤トンボ" loading="lazy">
                </a>
              </li>
            </ul>

            <ul class="slider-nav">
              <li>
                <img src="/img/gallery/gallery-img005_tmb.jpg" alt="夜間飛行" loading="lazy">
              </li>
              <li>
                <img src="/img/gallery/gallery-img004_tmb.jpg" alt="雪の旭川駅" loading="lazy">
              </li>
              <li>
                <img src="/img/gallery/gallery-img006_tmb.jpg" alt="ホイアンのランタン" loading="lazy">
              </li>
              <li>
                <img src="/img/gallery/gallery-img002_tmb.jpg" alt="宗谷岬" loading="lazy">
              </li>
              <li>
                <img src="/img/gallery/gallery-img007_tmb.jpg" alt="線香花火" loading="lazy">
              </li>
              <li>
                <img src="/img/gallery/gallery-img001_tmb.jpg" alt="夕暮れの小岩" loading="lazy">
              </li>
              <li>
                <img src="/img/gallery/gallery-img008_tmb.jpg" alt="廃墟" loading="lazy">
              </li>
              <li>
                <img src="/img/gallery/gallery-img003_tmb.jpg" alt="ガリレオ望遠鏡" loading="lazy">
              </li>
              <li>
                <img src="/img/gallery/gallery-img009_tmb.jpg" alt="ロシア語登場人物" loading="lazy">
              </li>
              <li>
                <img src="/img/gallery/gallery-img010_tmb.jpg" alt="ロシア語カット" loading="lazy">
              </li>
              <li>
                <img src="/img/gallery/gallery-img011_tmb.jpg" alt="アサガオ" loading="lazy">
              </li>
              <li>
                <img src="/img/gallery/gallery-img012_tmb.jpg" alt="赤トンボ" loading="lazy">
              </li>
            </ul>

            <div class="contents__btn">
              <a href="https://www.instagram.com/hiaki_i/?hl=ja" class="btn js-anchor" target="_blank" rel="noopener">
                <span class="btn__inner">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M3 16V8C3 5.23858 5.23858 3 8 3H16C18.7614 3 21 5.23858 21 8V16C21 18.7614 18.7614 21 16 21H8C5.23858 21 3 18.7614 3 16Z" stroke="currentColor" stroke-width="1.5"/>
                    <path d="M17.5 6.51L17.51 6.49889" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  Instagram
                </span>
              </a>
            </div>
          </section>
          <!-- section End ▲-->

          <!-- section ▼-->
          <section class="contents illustration_sec01" id="illustration-purpose">
            <div class="contents__inner">
              <h2 class="level2_heading">イラスト<br class="sp-only">制作いたします。</h2>
              <p class="contents__txt">
                ・書籍や雑誌の挿画・カットイラスト<br>
                ・観光サイト・学習教材・カレンダー・文房具に<br>
                ・WEBサイトのヘッダー・カットなどのコンテンツ作成<br>
                ・ゲーム背景やコンセプトアートなどに<br>
                ・ご家族・ご友人・ご自分へのプレゼントなど<br>
                その他ご相談ください。
              </p>
            </div>
          </section>
          <!-- section End ▲-->

          <!-- section ▼-->
          <section class="contents illustration_sec02">
            <div class="contents__inner">
              <h2 class="level2_heading level2_heading--home" id="illustration-skills">
                painting style
                <span class="level2_heading__sub">タッチと使用ツール</span>
              </h2>
              <h3 class="level3_heading">イラストのタッチについて</h3>
              <ul class="ul-list">
                <li class="ul-list__inner">
                  デジタル水彩画、水彩画、色鉛筆彩画、ペン線画など、繊細で柔らかい表現、レトロでオーソドックスなタッチが多いです。<br>比較的リアル寄りなイラストです。
                </li>
                <li class="ul-list__inner">
                  静物や風景を描くことが多いです。動物、似顔絵なども描きます。
                </li>
                <li class="ul-list__inner">
                  フラットなベクターイラストなども制作しています。<br>（<a href="/stock">イラスト素材</a>もご覧ください）
                </li>
              </ul>
              <h3 class="level3_heading">使用ツール・画材</h3>
              <p class="contents__txt">
                デジタル：Adobe Illustrator / Adobe Photoshop / Adobe Fresco<br>
                アナログ：透明水彩 / 鉛筆 / 色鉛筆 / アクリルガッシュ等
              </p>
            </div>
          </section>
          <!-- section End ▲-->

          <!-- section ▼-->
          <section class="contents illustration_sec03">
            <div class="contents__inner">
              <h2 class="level2_heading level2_heading--home" id="illust-career">
                career
                <span class="level2_heading__sub">略歴</span>
              </h2>
              <p class="contents__txt">
                都内デザイン専門学校（イラストレーション専攻）卒業。生花販売会社の社内デザイナーを経て、イラストレーターとして年賀デザイン・学習教材関係の仕事に携わりました。
              </p>
              <h3 class="level3_heading">主な実績</h3>
              <ul class="ul-list">
                <li class="ul-list__inner">
                  「NHKラジオ講座 まいにちロシア語 2009年度（株式会社 NHK出版様）」<br>本文イラスト
                </li>
                <li class="ul-list__inner">
                  「児童英検全グレート対応ドリル（株式会社 アルク様）」<br>カットイラスト
                </li>
                <li class="ul-list__inner">
                  「毎年使える！ずっと使える！十二支年賀状（株式会社 技術評論社様）」<br>年賀イラスト
                </li>
                <li class="ul-list__inner">
                  他、<br>
                  ・教育副読本用カットイラスト<br>・企業サイト様掲載用年賀状、年賀状ムック用イラスト<br>・書店グループフェアの販促物作成　等
                </li>
              </ul>
            </div>
          </section>
          <!-- section End ▲-->

          <%- include( '../_components/_contact' ); %>
        </article>
      </main>
      <%- include( '../_components/_footer' ); %>
    </div>
  </div>
</body>
</html>
