<li class="item__inner spring plant nature vector" ontouchstart>
  <div class="item__contents">
    <p class="item__title-wrap">
      <span class="item__title">赤と黄色のチューリップのアイコン</span>
    </p>
    <a href="#inline_0402" class="inline">
      <img src="../img/items/0402_tulips-icons-red-yellow.png" class="item__tmb" alt="赤と黄色のチューリップのアイコン" loading="lazy">
    </a>
    <div id="inline_0402" class="item__modal">
      <div class="item__headline">
        <h3 class="item__headline-title">赤と黄色のチューリップのアイコン</h3>
      </div>
      <div class="item__modal-contents">
        <img src="../img/items/0402_tulips-icons-red-yellow.png" alt="赤と黄色のチューリップのアイコン" class="item__modal-img">
        <div class="item__modal-details-wrap">
          <div class="item__modal-btn-wrap">
            <p class="item__modal-btn" >
              <a href="../img/items/0402_tulips-icons-red-yellow.png" class="btn3" download>
                <span class="btn__inner">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 20L18 20" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M12 4V16M12 16L15.5 12.5M12 16L8.5 12.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg><strong>無料<br class="sp-only">サンプル</strong>
                </span>
              </a>
            </p>
            <p class="item__modal-btn" >
              <a href="https://pixta.jp/illustration/75818441" class="btn3" target="_blank" rel="noopener">
                <span class="btn__inner"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 21H20.4C20.7314 21 21 20.7314 21 20.4V3.6C21 3.26863 20.7314 3 20.4 3H3.6C3.26863 3 3 3.26863 3 3.6V16" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M3.5 20.5L12 12M12 12V16M12 12H8" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>PIXTA</span>
              </a>
            </p>
            <p class="item__modal-btn" >
              <a href="https://stock.adobe.com/jp/stock-photo/id/422676764" class="btn3" target="_blank" rel="noopener">
                <span class="btn__inner"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 21H20.4C20.7314 21 21 20.7314 21 20.4V3.6C21 3.26863 20.7314 3 20.4 3H3.6C3.26863 3 3 3.26863 3 3.6V16" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M3.5 20.5L12 12M12 12V16M12 12H8" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>Adobe <br class="sp-only">Stock</span>
              </a>
            </p>
            <p class="item__modal-btn">
              <a href="https://www.shutterstock.com/ja/image-vector/red-yellow-tulips-icons-1942128238" class="btn3" target="_blank" rel="noopener">
                <span class="btn__inner"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 21H20.4C20.7314 21 21 20.7314 21 20.4V3.6C21 3.26863 20.7314 3 20.4 3H3.6C3.26863 3 3 3.26863 3 3.6V16" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M3.5 20.5L12 12M12 12V16M12 12H8" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>Sutter<br class="sp-only">stock</span>
              </a>
            </p>
            <p class="item__modal-btn">
              <a href="##" class="btn3 no-link" target="_blank" rel="noopener">
                <span class="btn__inner"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 21H20.4C20.7314 21 21 20.7314 21 20.4V3.6C21 3.26863 20.7314 3 20.4 3H3.6C3.26863 3 3 3.26863 3 3.6V16" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M3.5 20.5L12 12M12 12V16M12 12H8" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>素材<br class="sp-only">ごよみ</span>
              </a>
            </p>
          </div>
        </div>
      </div>
      <p class="item__date">公開日：※2021.03.24</p>
    </div>
  </div>
</li>
