<!-- section ▼-->
<div class="contents--contact__wrap">
  <section class="contents contents--contact">
    <h2 class="level2_heading level2_heading--home">
      contact
      <span class="level2_heading__sub">お問い合わせ</span>
    </h2>
    <div class="btn-contact__wrap">
      <a href="https://forms.gle/h5k4rSVJtqsbpTPL6" class="btn-contact" target="_blank" rel="noopener">
        <span class="btn__inner">
          <svg width="28" height="28" viewBox="0 0 24 24" fill="none">
            <path d="M7 9L12 12.5L17 9" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M2 17V7C2 5.89543 2.89543 5 4 5H20C21.1046 5 22 5.89543 22 7V17C22 18.1046 21.1046 19 20 19H4C2.89543 19 2 18.1046 2 17Z" stroke="currentColor" stroke-width="1.5"/>
          </svg>
          お問い合わせ</span>
        </a>
      </div>
    </section>
</div>
  <!-- section End ▲-->
