<footer class="footer">
  <nav class="footer__nav">
    <ul class="footer__nav-inner">
      <li class="footer__nav-item">
        <a href="/" class="footer__nav-link">home<span></span></a>
      </li>
      <li class="footer__nav-item">
        <a href="/policy" class="footer__nav-link">プライバシーポリシー<span></span></a>
      </li>
    </ul>
  </nav>
  <p class="footer__copy-wrap">
    <span class="footer__copy">&copy;	Hiromi's Portfolio</span>
  </p>
  <div class="page_top js-pagetop"><a href="#" class="js-anchor"></a></div>
</footer>
