<div class="skills-card_2">

  <div class="skills-card_2__inner wow">
    <div class="skills-card_2__ietm-wrap">
      <div class="skills-card_2__front">
        <img src="/img/emoji-icon_star.svg" alt="" class="skills-card_2__front-img">
        <p class="skills-card_2__front-txt">
          マークアップ
        </p>
      </div>
      <div class="skills-card_2__back">
        <p class="skills-card_2__back-txt">
          お力に<br>なります。
        </p>
      </div>
    </div>
  </div>

  <div class="skills-card_2__inner wow">
    <div class="skills-card_2__ietm-wrap">
      <div class="skills-card_2__front">
        <img src="/img/emoji-icon_star.svg" alt="" class="skills-card_2__front-img">
        <p class="skills-card_2__front-txt">
          イラスト制作
        </p>
      </div>
      <div class="skills-card_2__back">
        <p class="skills-card_2__back-txt">
          ぜひ描かせてください。
        </p>
      </div>
    </div>
  </div>

  <div class="skills-card_2__inner wow">
    <div class="skills-card_2__ietm-wrap">
      <div class="skills-card_2__front">
        <img src="/img/emoji-icon_default.svg" alt="" class="skills-card_2__front-img">
        <p class="skills-card_2__front-txt">
          WordPress
        </p>
      </div>
      <div class="skills-card_2__back">
        <p class="skills-card_2__back-txt">
          対応<br>いたします。
        </p>
      </div>
    </div>
  </div>

  <div class="skills-card_2__inner wow">
    <div class="skills-card_2__ietm-wrap">
      <div class="skills-card_2__front">
        <img src="/img/emoji-icon_default.svg" alt="" class="skills-card_2__front-img">
        <p class="skills-card_2__front-txt">
          Shopify
        </p>
      </div>
      <div class="skills-card_2__back">
        <p class="skills-card_2__back-txt">
          対応<br>いたします。
        </p>
      </div>
    </div>
  </div>

  <div class="skills-card_2__inner wow">
    <div class="skills-card_2__ietm-wrap">
      <div class="skills-card_2__front">
        <img src="/img/emoji-icon_gray.svg" alt="" class="skills-card_2__front-img">
        <p class="skills-card_2__front-txt">
          デザイン制作
        </p>
      </div>
      <div class="skills-card_2__back">
        <p class="skills-card_2__back-txt">
          一部対応。<br>ご相談させてください。
        </p>
      </div>
    </div>
  </div>

  <div class="skills-card_2__inner wow">
    <div class="skills-card_2__ietm-wrap">
      <div class="skills-card_2__front">
        <img src="/img/emoji-icon_gray.svg" alt="" class="skills-card_2__front-img">
        <p class="skills-card_2__front-txt">
          フロント実装
        </p>
      </div>
      <div class="skills-card_2__back">
        <p class="skills-card_2__back-txt">
          一部対応。<br>ご相談させてください。
        </p>
      </div>
    </div>
  </div>
  </div>
