<div class="skills-card">
  <div class="skills-card__inner skills-card__inner-01" ontouchstart>
    <span class="skills-card__tooltip">お力になれます。</span>
    <p class="skills-card__txt">
      マークアップ
    </p>
  </div>
  <div class="skills-card__inner skills-card__inner-01" ontouchstart>
    <span class="skills-card__tooltip">ぜひ描かせてください。</span>
    <p class="skills-card__txt">
      イラスト制作
    </p>
  </div>
  <div class="skills-card__inner skills-card__inner-02" ontouchstart>
    <span class="skills-card__tooltip">対応いたします。</span>
    <p class="skills-card__txt">
      WordPress
    </p>
  </div>
  <div class="skills-card__inner skills-card__inner-02" ontouchstart>
    <span class="skills-card__tooltip">対応いたします。</span>
    <p class="skills-card__txt">
      Shopify
    </p>
  </div>
  <div class="skills-card__inner skills-card__inner-03" ontouchstart>
    <span class="skills-card__tooltip">一部対応。ご相談<br>させてください。</span>
    <p class="skills-card__txt">
      デザイン制作
    </p>
  </div>
  <div class="skills-card__inner skills-card__inner-03" ontouchstart>
    <span class="skills-card__tooltip">一部対応。ご相談<br>させてください。</span>
    <p class="skills-card__txt">
      フロント実装
    </p>
  </div>
</div>
