.illustration_sec01 {
  background: linear-gradient(to top, rgba($reverse_color, 0.1) 0%, rgba($reverse_color, 0.1) 100%),url(../img/illustration-img01.jpg) center center no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 24px;
  .level2_heading {
    font-size: 36px;
    margin-bottom: 32px;
    font-weight: 300;
  }
  .contents__inner {
    margin: 32px 16px;
  }
  @include mediaBreakMax($tb) {
    background-size: cover;
    .level2_heading {
      font-size: 28px;
    }
    .contents__txt {
      text-align: left;
      padding: 0 12px;
    }
  }
}
.illustration_sec02 {
  margin: 160px auto 0 auto;
  @include contentsInner($pc);
  position: relative;
  background: linear-gradient(to top, rgba($reverse_color, 0.3) 0%, rgba($reverse_color, 0.3) 100%),url(../img/illustration-img02.jpg) center left no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24%;
  margin-bottom: 40px;
  @include mediaBreakMax($pc) {
    margin-top: 300px;
    margin-bottom: 150px;
  }
  @include mediaBreakMax($tb) {
    position: inherit;
    margin: 64px auto 0 auto;
    padding: 0;
    flex-direction: column;
  }
  .level2_heading {
    align-items: flex-start;
    padding: 0;
    margin-bottom: 40px;
  }
  .contents__inner {
    position: absolute;
    right: 0;
    background: rgba($reverse_color, .6);
    padding: 40px;
    width: 60%;
    @include mediaBreakMax($pc_s) {
      width: 80%;
    }
    @include mediaBreakMax($tb) {
      position: inherit;
      width: 90%;
      padding: 0 16px;
    }
  }
}

.illustration_sec03 {
  margin: 160px auto 0 auto;
  @include contentsInner($pc);
  position: relative;
  background: linear-gradient(to top, rgba($reverse_color, 0.1) 0%, rgba($reverse_color, 0.1) 100%),url(../img/illustration-img03.jpg) center right no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18%;
  margin-bottom: 40px;
  @include mediaBreakMax($tb) {
    position: inherit;
    margin: 64px auto 0 auto;
    padding: 0;
    flex-direction: column;
  }
  .level2_heading {
    align-items: flex-start;
    padding: 0;
    margin-bottom: 40px;
  }
  .contents__inner {
    position: absolute;
    left: 0;
    background: rgba($reverse_color, .6);
    padding: 40px;
    width: 60%;
    @include mediaBreakMax($pc_s) {
      width: 80%;
    }
    @include mediaBreakMax($tb) {
      position: inherit;
      width: 90%;
      padding: 0 16px;
    }
  }
}

.illustration_sec04 {
  .level2_heading {
    padding: 0;
  }
}
