.slider {
  width:94%;
  margin:0 auto;
  .slick-slide {
    margin:0 6px;
  }
  .slick-prev,
  .slick-next {
    position: absolute;
    top: 42%;
    cursor: pointer;
    outline: none;
    border-top: 2px solid #666;
    border-right: 2px solid #666;
    height: 15px;
    width: 15px;
  }
  .slick-prev {
    left: -1.5%;
    transform: rotate(-135deg);
  }
  .slick-next {
    right: -1.5%;
    transform: rotate(45deg);
  }
}
.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  li + li {
    margin-left: 12px;
  }
  button {
    color: transparent;
    background: rgba($bg_color, .8);
    width: 11px;
    border-radius: 10px;
    font-size: 1px;
    padding: 0;
    width: 10px;
    height: 10px;
  }
  .slick-active button {
    background: $txt_color;
  }
}
