<!DOCTYPE html>
<% page = 'web'; %>
<html lang="ja">
<head>
  <%- include( '../_components/_head' ); %>
</head>
<body class="web">
  <div class="wrap">
    <div class="container">
      <%- include( '../_components/_header' ); %>
      <!-- section ▼-->
      <section class="contents web_h1">
        <div class="level1_heading">
          <h1 class="level1_heading__inner">
            web coding
            <span class="level1_heading__sub">Web制作について</span>
          </h1>
        </div>
      </section>
      <!-- section End ▲-->
      <main class="container__main">
        <article>
          <!-- section ▼-->
          <section class="contents web_sec01">
            <div class="contents__inner">
              <h2 class="level2_heading level2_heading--home" id="web-skills">
                skill set
                <span class="level2_heading__sub">スキルセット</span>
              </h2>
            </div>
            <div class="contents__inner">
              <div class="half-media">
                <div class="half-media__inner">
                  <div class="half-media__txt">
                    <h3 class="level3_heading">実務経験から活かせるスキル</h3>
                    <dl class="desc-list">
                      <dt class="desc-list--title">レスポンシブコーディング</dt>
                      <dd class="desc-list--desc">
                        HTML / CSS / Sass / jQuary / Gulp / Git
                      </dd>
                      <dt class="desc-list--title">WordPress</dt>
                      <dd class="desc-list--desc">
                        テーマ作成 / コンテンツ更新・改修
                      </dd>
                      <dt class="desc-list--title">Shopify</dt>
                      <dd class="desc-list--desc">
                        テーマを使用した構築 / アプリ設定 / 商品登録
                      </dd>
                      <dt class="desc-list--title">デザインツール</dt>
                      <dd class="desc-list--desc">
                        Adobe Photoshop / Adobe XD
                      </dd>
                    </dl>
                  </div>
                </div>
                <div class="half-media__inner">
                  <div class="half-media__txt">
                    <h3 class="level3_heading">独学・個人制作からできること</h3>
                    <dl class="desc-list">
                      <dt class="desc-list--title">言語</dt>
                      <dd class="desc-list--desc">
                        JavaScript / PHP / liquid
                      </dd>
                      <dt class="desc-list--title">知見</dt>
                      <dd class="desc-list--desc">
                        CSS設計（BEM) / UIデザイン
                      </dd>
                      <dt class="desc-list--title">ツール等</dt>
                      <dd class="desc-list--desc">
                        GitHub
                      </dd>
                      <dt class="desc-list--title">個人制作</dt>
                      <dd class="desc-list--desc">
                        WordPress / Shopify / サイト運営
                      </dd>
                    </dl>
                  </div>
                </div>
                <div class="half-media__inner">
                  <div class="half-media__txt">
                    <h3 class="level3_heading">その他経験から活かせること</h3>
                    <dl class="desc-list">
                      <dt class="desc-list--title">イラスト</dt>
                      <dd class="desc-list--desc">
                        Adobe Illustratorを使用したイラスト制作
                      </dd>
                      <dt class="desc-list--title">販売営業事務</dt>
                      <dd class="desc-list--desc">
                        染物業の会社にて商品の受注対応を担当。<br>
                        電話やメールによる受付、ご提案、受注業務等
                      </dd>
                    </dl>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- section End ▲-->

          <!-- section ▼-->
          <section class="contents web_sec02">
            <div class="contents__inner">
              <h2 class="level2_heading level2_heading--home" id="web-career">
                career
                <span class="level2_heading__sub">略歴</span>
              </h2>
            </div>
            <div class="contents__inner">
              <p class="contents__txt">
                職業訓練にてHTML/CSS等を学び、都内Web制作会社に正社員として3年半勤務。ECおよびWordPressテーマを用いたコーディング業務、3か月間のベトナム駐在勤務においてはオフショア制作のサポート業務を経験しました。<br>
                業務委託においては、運用サイトの保守更新と改修、お問い合わせ対応や更新サポート、LPコーディング、Shopifyサイトの構築などに携わっています。
              </p>
            </div>
          </section>
          <!-- section End ▲-->

          <!-- section ▼-->
          <section class="contents web_sec03">
            <div class="contents__inner">
              <h2 class="level2_heading level2_heading--home">
                productions
                <span class="level2_heading__sub">個人制作物</span>
              </h2>
            </div>
            <div class="contents__inner">
              <div class="half-media">
                <div class="half-media__inner">
                  <div class="half-media__txt">
                    <h3 class="level3_heading">ポートフォリオサイト</h3>
                    <dl class="desc-list">
                      <dd class="desc-list--desc">
                        このサイトのコードをGithubに置きました。<br>備考などはREADMEに記載いたします。
                      </dd>
                      <div class="contents__btn contents__btn--mb0">
                        <a href="https://github.com/hiromi-a/portfolio-public" class="btn" target="_blank" rel="noopener">
                          <span class="btn__inner">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                              <path d="M16 22.0268V19.1568C16.0375 18.68 15.9731 18.2006 15.811 17.7506C15.6489 17.3006 15.3929 16.8902 15.06 16.5468C18.2 16.1968 21.5 15.0068 21.5 9.54679C21.4997 8.15062 20.9627 6.80799 20 5.79679C20.4558 4.5753 20.4236 3.22514 19.91 2.02679C19.91 2.02679 18.73 1.67679 16 3.50679C13.708 2.88561 11.292 2.88561 8.99999 3.50679C6.26999 1.67679 5.08999 2.02679 5.08999 2.02679C4.57636 3.22514 4.54413 4.5753 4.99999 5.79679C4.03011 6.81549 3.49251 8.17026 3.49999 9.57679C3.49999 14.9968 6.79998 16.1868 9.93998 16.5768C9.61098 16.9168 9.35725 17.3222 9.19529 17.7667C9.03334 18.2112 8.96679 18.6849 8.99999 19.1568V22.0268" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                              <path d="M9 20.0267C6 20.9999 3.5 20.0267 2 17.0267" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            GitHub</span>
                          </a>
                        </div>
                    </dl>
                  </div>
                  </div>
                  <div class="half-media__inner">

                    <div class="half-media__txt">
                      <h3 class="level3_heading">イラスト素材販売サイト</h3>
                      <dl class="desc-list">
                        <dd class="desc-list--desc">
                          イラスト素材サイトをWordPressにて制作。<br>現在Shopifyに移行し運営中です。
                        </dd>
                      </dl>
                      <div class="contents__btn contents__btn--mb0">
                        <a href="https://sozai-goyomi.com" class="btn" target="_blank" rel="noopener">
                          <span class="btn__inner">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                              <path d="M8 21H20.4C20.7314 21 21 20.7314 21 20.4V3.6C21 3.26863 20.7314 3 20.4 3H3.6C3.26863 3 3 3.26863 3 3.6V16" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                              <path d="M3.5 20.5L12 12M12 12V16M12 12H8" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            素材ごよみ
                          </span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <!-- section End ▲-->

              <%- include( '../_components/_contact' ); %>
            </article>
          </main>
          <%- include( '../_components/_footer' ); %>
        </div>
      </div>
    </body>
    </html>
